---
import AnimatedHeadLine from "@components/react/ui/LandingPage/AnimatedHeadline";
import AnimatedHeroSvgBottom from "@components/react/ui/LandingPage/AnimatedHeroSvg/AnimatedHeroSvgBottom";
import AnimatedHeroSvgSideStar from "@components/react/ui/LandingPage/AnimatedHeroSvg/AnimatedHeroSvgSideStar";
import AnimatedHeroSvgSideTukTuk from "@components/react/ui/LandingPage/AnimatedHeroSvg/AnimatedHeroSvgSideTukTuk";
import { socials } from "@/constants";
import { Icon } from "astro-icon/components";
---

<div class="grid min-h-[40vh] grid-cols-1 md:grid-cols-5">
  <div
    class="relative col-span-full flex flex-col justify-between md:col-span-4"
  >
    <div
      class="mb-4 flex h-full min-h-[28em] flex-col justify-end px-4 md:min-h-0 md:justify-center lg:pl-16"
    >
      <div class="flex flex-col flex-wrap pb-2">
        <AnimatedHeadLine client:only="react" />
      </div>
      <div>
        <div class="text-2xl text-black">
          <div class="flex flex-col">
            <div class="leading-relaxed">Discover the Magic of Python in</div>
            <div class="">the Land of Smiles :)</div>
          </div>
        </div>
        <div class="my-4 flex flex-col items-start gap-6">
          <div
            class="bg-header-orange transform rounded-xl px-6 py-3 text-2xl font-extrabold uppercase tracking-wider text-white shadow-lg transition duration-300 hover:scale-105"
          >
            PyCon Thailand 2025
          </div>
          <div class="w-full max-w-lg space-y-4">
            <!-- Workshop Info -->
            <a
              target="_blank"
              href={`https://www.google.com/calendar/event?action=TEMPLATE&text=PyCon Thailand 2025&dates=20251017T020000Z/20251017T100000Z&details=PyCon Thailand 2025 - Workshop&location=Avani Sukhumvit Bangkok`}
              class="flex items-center gap-4 rounded-lg bg-white p-4 shadow-md transition duration-300 hover:scale-105"
            >
              <Icon name="logos:google-calendar" width="26" height="26" />
              <div class="">
                Workshop: <span class="font-semibold">October 17, 2025</span>
              </div>
            </a>
            <!-- Conference Info -->
            <a
              target="_blank"
              href={`https://www.google.com/calendar/event?action=TEMPLATE&text=PyCon Thailand 2025&dates=20251018T020000Z/20251018T100000Z&details=PyCon Thailand 2025 - Conference&location=Avani Sukhumvit Bangkok`}
              class="flex items-center gap-4 rounded-lg bg-white p-4 shadow-md transition duration-300 hover:scale-105"
            >
              <Icon name="logos:google-calendar" width="26" height="26" />
              <div class="">
                Conference: <span class="font-semibold">October 18, 2025</span>
              </div>
            </a>
            <!-- Venue Info -->
            <a
              target="_blank"
              href="https://maps.app.goo.gl/KMkaQ6NzcLsK7VGk7"
              class="flex items-center gap-4 rounded-lg bg-white p-4 shadow-md transition duration-300 hover:scale-105"
            >
              <Icon name="logos:google-maps" width="26" height="26" />
              <div class="">
                Venue: <span class="font-semibold"
                  >Avani Sukhumvit Bangkok Hotel</span
                >
              </div>
            </a>
          </div>
        </div>
        <div class="mt-4 flex flex-col items-start">
          <div class="mt-4 flex text-lg">
            In the meanwhile, check out our social media channels for updates.
          </div>
          <div class="mt-4 flex gap-x-4 px-4 md:flex">
            {
              socials
                .filter((social) => social.link !== "")
                .map((social, index) => (
                  <a href={social.link} target="_blank">
                    <Icon
                      name={social.icon}
                      color={social.color}
                      width={24}
                      height={24}
                    />
                  </a>
                ))
            }
          </div>
        </div>
      </div>
    </div>
    <div class="justify-self-end">
      <AnimatedHeroSvgBottom client:idle />
    </div>
  </div>

  <div class="hidden flex-col justify-end md:col-span-1 md:flex">
    <AnimatedHeroSvgSideTukTuk client:idle />
    <AnimatedHeroSvgSideStar client:idle />
  </div>
</div>
