---
import Sponsors from "@/components/astro/section/Sponsors.astro";
import Keynote from "@components/react/ui/LandingPage/Keynote";
import Layout from "../layouts/Layout.astro";

import Hero from "@components/astro/ui/LandingPage/Hero.astro";
---

<Layout title="Welcome to TH PyCon 2025!">
  <main>
    <div class="mx-auto w-full">
      <div class="flex flex-col justify-center mb-10">
        <Hero />
        <Keynote client:load />
        <Sponsors />
      </div>
    </div>
  </main>
</Layout>

<style></style>
