---
import Sponsors from "@/components/astro/section/Sponsors.astro";
import Layout from "../layouts/Layout.astro";

import Hero from "@components/astro/ui/LandingPage/Hero.astro";
---

<Layout title="Welcome to TH PyCon">
  <main>
    <div class="mx-auto w-full">
      <div class="flex flex-col justify-center mb-10">
        <Hero />
        <Sponsors/>
      </div>
    </div>
  </main>
</Layout>

<style></style>
