---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PyCon 2025 Speakers">
  <main>
    <script
      type="text/javascript"
      src="https://sessionize.com/api/v2/9r42h5f5/view/GridSmart"></script>
  </main>
</Layout>

<style></style>
