<div
  class="mt-20 flex flex-col items-center space-y-6 px-8 text-center md:px-0"
>
  <h3 class="text-4xl font-bold uppercase leading-snug">
    Call for Proposal is <span class="text-pyconth-red-500">Now Closed!</span>
  </h3>
  <p class="mt-2 max-w-lg text-lg text-gray-600">
    Thank you for your interest in sharing your ideas with the community. While
    speaker submissions are now closed, you can still support us by becoming a
    sponsor today!
  </p>

  <div class="mt-6 flex flex-col gap-4 sm:flex-row">
    <a
      href="https://www.canva.com/design/DAGaN7XThGo/UlApQVOhDU5j0U2hXk9Q7g/view?fbclid=IwY2xjawJsKFNleHRuA2FlbQIxMAABHm5BDPKLvl-QSxkO59_JyrWePipiXIPFFz_U_DnddCIXi1RT_A0SXwqMHjvM_aem_rpAItCm39OsKm7aP3yNirA"
      target="_blank"
      class="inline-flex items-center justify-center rounded-lg bg-pyconth-violet-600 px-6 py-3 font-medium text-white transition-all duration-300 hover:gap-x-2 active:scale-95"
    >
      Apply for Sponsorship
    </a>
  </div>
</div>
