---
import { Image } from "astro:assets";
import PSFLogo from "@assets/sponsors/psf-logo.webp";
import BankOfAgricultureLogo from "@assets/sponsors/bank_of_agriculture.webp";
import DataRockieLogo from "@assets/sponsors/data-rockie.webp";
import EventPopLogo from "@assets/sponsors/eventpop_primary_RGB.webp";
---

<div id="sponsor" class="flex flex-col items-center px-8 md:px-0">
  <h2 class="mt-20 text-3xl font-semibold text-primary">Sponsors / Partners</h2>

  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Headline</h2>

    <div class="line-in-animation mx-auto h-0.5 w-full bg-gray-200"></div>
  </div>
  <!-- Start : ODDS -->
  <div class="card w-56 bg-base-100">
    <figure class="p-5">
      <img src="/images/sponsors/ODDS.png" alt="ODDS Logo" />
    </figure>
  </div>
  <!-- End : ODDS -->

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">
      Python Software Foundation
    </h2>
    <!-- Separator animation -->
    <div class="line-in-animation mx-auto h-0.5 w-full bg-gray-200"></div>
  </div>
  <!-- End: Sponsor rank -->
  <!-- Start : Python Software Foundation -->
  <div class="card w-72 bg-base-100">
    <figure class="p-5">
      <Image
        src={PSFLogo}
        height={150}
        class="items-center"
        alt="Python Software Foundation Logo"
      />
    </figure>
  </div>
  <!-- End : Python Software Foundation -->

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Silver</h2>
    <!-- Separator animation -->
    <div class="line-in-animation mx-auto h-0.5 w-full bg-gray-200"></div>
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex items-center gap-x-4 max-md:flex-col">
    <div class="card w-56 bg-white">
      <figure class="my-4 p-5">
        <Image
          src={DataRockieLogo}
          height={150}
          class="items-center"
          alt="DataRockie"
        />
      </figure>
    </div>
  </div>

  <!-- Start: Sponsor rank -->
  <div class="mb-4 mt-10 flex flex-col">
    <h2 class="text-center text-2xl font-semibold text-primary">Patron</h2>
    <!-- Separator animation -->
    <div class="line-in-animation mx-auto h-0.5 w-full bg-gray-200"></div>
  </div>
  <!-- End: Sponsor rank -->

  <div class="flex items-center gap-x-4 max-md:flex-col">
    <div class="card w-56 bg-white">
      <figure class="my-4 p-5">
        <Image
          src={BankOfAgricultureLogo}
          class="items-center"
          height={150}
          alt="BankOfAgricultureLogo"
        />
      </figure>
    </div>
    <!-- Start : Event Pop -->
    <div class="card w-56 bg-white">
      <figure class="my-4 p-5">
        <Image
          src={EventPopLogo}
          class="items-center"
          height={150}
          alt="Event Pop Logo"
        />
      </figure>
    </div>
    <!-- End : Event Pop -->
  </div>
</div>
