---
import { Image } from "astro:assets";
import BankOfAgricultureLogo from "@assets/sponsors/bank_of_agriculture.webp";
import DataRockieLogo from "@assets/sponsors/data-rockie.webp";
---

<div id="sponsor" class="flex flex-col items-center px-8 md:px-0">
  <h2 class="mt-20 text-3xl font-semibold text-primary">Sponsors / Partners</h2>
  <h2 class="mb-4 mt-10 text-2xl font-semibold text-primary">Headline</h2>
  <div class="card w-56 bg-base-100 shadow-xl">
    <figure class="p-5">
      <img src="/images/sponsors/ODDS.png" alt="ODDS Logo" />
    </figure>
  </div>

  <h2 class="mb-4 mt-10 text-2xl font-semibold text-primary">Silver</h2>
  <div class="flex items-center gap-x-4 max-md:flex-col">
    <div class="card w-56 bg-white shadow-xl">
      <figure class="my-4 p-5">
        <Image
          src={DataRockieLogo}
          height={150}
          class="items-center"
          alt="DataRockie"
        />
      </figure>
    </div>
  </div>

  <h2 class="mb-4 mt-10 text-2xl font-semibold text-primary">Patron</h2>

  <div class="flex items-center gap-x-4 max-md:flex-col">
    <div class="card w-56 bg-white shadow-xl">
      <figure class="my-4 p-5">
        <Image
          src={BankOfAgricultureLogo}
          class="items-center"
          height={150}
          alt="BankOfAgricultureLogo"
        />
      </figure>
    </div>
  </div>
</div>
