<div id="sponsor" class="flex flex-col items-center px-8 md:px-0">
  <h2 class="mt-20 text-3xl font-semibold text-primary">Sponsors / Partners</h2>
  <h2 class="mb-4 mt-10 text-2xl font-semibold text-primary">Headline</h2>
  <div class="card w-56 bg-base-100 shadow-xl">
    <figure class="p-5">
      <img src="/images/sponsors/ODDS.svg" alt="ODDS Logo" />
    </figure>
  </div>
</div>
